/*---header---*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
p {
    margin: 0px;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index:1;
}

.content {
    height: 64px;
    margin: 0 24px;
    
}

.desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 7px;
    
}
.logo {
    display: flex;
    height: 32px;
    align-items: center;
}

.logo p {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.25em;
}
.menu-list{
    display: flex;
    list-style-type: none;
    
    
}

.desktop li{
    margin-left: 16px;
    color: black;
    
    
}
.desktop li:hover {
    border-bottom: 2px solid black;
}

/*main*/
.hero{
    
}


/*second-main*/





   










