.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{    
    text-decoration: none;
    color: black;
}
/*herder*/
header{
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}
.nav-menu{
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.nav-menu .logo {
    height: 2rem;
}

.nav-menu .logo-text {
    text-transform: uppercase;
    color: gray;
    font-size: 1.25rem;
}
.nav-menu .logo-text strong{
    color: black;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-list ul{
    display: flex;
}
.nav-list li{
    list-style: none;
    padding-left: 1rem;
}

/*banner*/
.banner{
    position: relative;
    top: 64px;
    background-color: rgb(201, 198, 194);
    padding: 2rem 1.5rem;
    display: flex;

}
.banner-img{
    max-width: 60%;
}
.banner-img img{
    width: 100%;
    height: auto;
}

.banner-text{
    padding:0 1.5rem;
    margin: auto;
}
.banner-text h1{
    display: inline;
}

.banner-text h3{
    font-size: medium;
}
.banner-button{
    color: white;
    text-align: center;
    background-color: rgb(53, 51, 51);
    padding: 8px;
}